*{
    padding: 0;
    margin: 0;
}

body{
    padding: 15px;
    font-family: "inter", sans-serif;
}

/* HEADER SECTION */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 20px 0px;
}

header .logo{
    height: 30px;
}

/* MAIN SECTION */
 .web3{
    max-width: 100%;
    height: auto;
     
 }

 
 .article-title{
font-weight: 800;
font-size: 45px;
margin: 10px 0px 10px 0px;
 }

 .preview p{
font-size: 15px;
color: hsl(236, 13%, 42%);
line-height: 25px;
 }

 .preview button{
  padding: 16px;
  width:50vw;
  border: none;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: hsl(5, 85%, 63%);
  margin-top: 20px;
 }

 /*MAIN ASIDE SECTION*/
 aside{
    height:100% ;
    width:100%;
    background-color: hsl(240, 100%, 5%);
  }

 aside div h1{
    margin-bottom: 15px;
}

aside div{
     margin: 10px;
 }

 .line-cont{
    display: flex;
    justify-items: center;
    width: 100%;

  }

.hr{
    /* background-color: hsl(236, 13%, 42%);
    color: hsl(236, 13%, 42%); */

    border: 0.50px solid hsl(236, 13%, 42%);
    width: 100%;

    
}

.content{
    
}

.content h1{
color:hsl(36, 100%, 99%);
}

.content p{
color: hsl(236, 13%, 42%);
}


/* FOOTER STYLING */
footer{
    padding-top: 20px;
    padding-bottom: 15px;

 }
.related{
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-top: 35px;
}

.related img{
    height: 140px;
}

.related div{
     line-height: 42px;
}

.related div h1{
    color: hsl(5, 85%, 63%);
}

.related div p{
     line-height: 27px;
}


/* @media (min-width: 1024px){

    body{
        background-color: red;
    }
} */

